.container-map {
    margin-bottom: 60px;
}

.map-text h1{
    font-size: 32px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #6E6E6E;
    margin-bottom: 60px;
}

.map-container {
  margin-bottom: 300px;
}

.address-map {
    width: 776px;
    margin: 62px auto 0 auto;
    display: flex;
    justify-content: center;
}

.address-map p {
    font-size: 28px;
    font-family: 'Montserrat';
    color: #6E6E6E;
    margin-bottom: 35px;
}

.address-map ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.map-address-margin01 {
    margin-left: 32px;
    margin-right: 38px;
}

.map-address-margin02 {
    margin-left: 38px;
    margin-right: 32px;
}

.map {
    margin: 0px;
}

.map-img {
    width: 628px;
    height: 482px;
}

.map-link {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Montserrat';
    color: #6E6E6E;
    margin: auto 0;
}

.telephone-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 56px;
}

.telephone-map a {
    margin: 0px;
    margin-left: 26px;
}