/* секция 3 */
.section__company{
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 67px;
    padding: 0;
    max-width: 1000px;
}
.servises__text{
    text-align: center;
    color: #8E8E8E;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 87px;
}
.advantages{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 74px;
    row-gap: 67px;
    max-width: 1078px;
    margin: 0 auto;
}
.advantages__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages__svg1 svg{
    margin-bottom: 10px;
}
.advantages__svg2 svg{
    margin-bottom: 9px;
}
.advantages__svg3 svg{
    margin-bottom: 26px;
}
.advantages__svg4 svg{
    margin-bottom: 24px;
}
.advantages__svg5 svg{
    margin-bottom: 18px;
}
.advantages__svg6 svg{
    margin-top: 8px;
    margin-bottom: 27px;
}
.text1__block{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #8E8E8E;
    margin-bottom: 12.8px;
}
.text2__block{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8E8E8E;
    text-align: center;
}
/* секция 6 */
.section__6{
    max-width: 1190px;
}
.avtomol{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #8E8E8E;
    text-align: center;
    margin-bottom: 70px;
}
.info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 59px;
}
.info__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info__text1{
    font-weight: 700;
    font-size: 84px;
    line-height: 102px;
    color: #F3930D;
    
}
.info__text2{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #8E8E8E;
}
.info__grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 290px);
    column-gap: 10px;
    overflow: hidden;
}
.info__grid__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 290px;
    max-height: 280px;
    background: #F3930D;
}
.info__grid__block__img{
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-top: 46px;
    margin-bottom: 17px;
}
.info__grid__block__text1{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.info__grid__block__text2,
.info__grid__block__text3{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.info__grid__block__text3{
    margin-top: 17px;
    margin-bottom: 15px;
}
.avtomol__slider{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(142, 142, 142, 0.47);
    position: absolute;
    display: inline-block;
    border: none;
    
}
.avtomol__slider--next{
    right: 230px;
    margin-top: -150px;
}
.avtomol__slider--prev{
    left: 230px;
    margin-top: -150px;
}



/* секция 1 записи*/
.section__request{
    margin-top: 200px
}
.wrapper__request{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    max-width: 1048px;
    margin: auto;
}
.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #F3930D;
    border-radius: 27px;
    padding: 0 46px;
    width: 430px;
}
.request__text{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #6E6E6E;
    margin-bottom: 78px;
}
.request__form1{
    max-width: 521px;
}
.request__form2{
    max-width: 430px;
}
.request__textdata{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #6E6E6E;
    margin-bottom: 32px;
    text-align: center;
}
.data{
    width: 100%;
    border: none;
    border-bottom: 1px solid #F3930D;
    padding: 0 0 22px 0;
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #A8A8A8;
    opacity: 0.8;
}
.data:focus{
    outline: none;
    color: #F3930D;
}
.radio{
    margin: 37px 0 0 60px;
}
.radio__input{
    -webkit-appearance: none;
    appearance: none;
    
    margin-top: 10px;
}
.radio__label{
    width: 300px;
    position: relative;
    font-size: 13px;
    color: #A8A8A8;
    cursor: pointer;
}
.radio__label::before{
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    border: 1px solid #F3930D;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -40px;
}
.radio__label::after{
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-color: #F3930D;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 3px;
    left: -34px;
    transition: opacity .1s linear;
}
.radio__input:checked + .radio__label:before{
    background-color: #FFFFFF;
    border-color: #F3930D;
}
.radio__input:checked + .radio__label:after{
    opacity: 1;
}
.button{
    width: 100%;
    height: 72px;
    background-color:#F3930D;
    border: none;
    border-radius: 17px;
    opacity: 0.8;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    margin-bottom: 40px;
}
.button:hover{
    opacity: 1;
}
.request__form2--text{
    font-weight: 700;
    font-size: 31px;
    line-height: 39px;
    color: #8E8E8E;
    margin-bottom: 42px;
} 
.select{
    max-width: 430px;
}
.select__input{
    margin-top: 42px;
}
.select__form{
    margin-top: 47px;
}
/* ================выбор времени(кастомный блок)=========================== */
.castom.castom-is-active .castom__body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.castom.castom-is-active .castom__body--auto{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    row-gap: 0;
    column-gap: 0;
}
.castom__block--item{
    max-width: 330px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 35px;
    row-gap: 26px;  
}
.castom.castom-is-active .deployment__img{
    rotate: 180deg;
}
.castom__header--click--category{
    background-color: #F3930D;
}
.castom__header--click--time{
    background-color: #F3930D;
}
.castom__current--click{
    color: #fff;
}
.deployment__img{
    position: absolute;
    right: 30px;
}
.path{
    stroke: #fff;
}
.castom__header--category,
.castom__header--time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 80px;
    width: 430px;
    color: #F3930D;
    border: 1.5px solid #F3930D;
    border-radius: 15px;
}
.castom__current,
.castom__current--time{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    
}
.castom__body--auto{
    position: absolute;
    left: 0;
    right: 0;
    display: none; 
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
}
.castom__body{
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    border-radius: 15px;
    padding: 36px 0;
    background-color: #fff;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    margin-top: 7px;
    overflow: hidden;
    z-index: 1;
}
.castom__body--auto{
    margin: 0 auto;
}
.castom__time, 
.castom__item--time{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #8E8E8E;
    flex: none;
    text-align: center;
    cursor: pointer;
}
.castom__time--auto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #8E8E8E;
    background-color: #FFFFFF;
    transition: 0.3s background-color ease-in-out,
                0.3s color ease-in-out
}
.castom__time:hover{
    color: #F3930D;
}
.castom--auto{
    max-width: 430px;
    margin-left: 0;
}
/* ====================== kalendar ==================================== */
/*==== удаление иконки календаря у input type="date" ====*/
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/*================*/
.input{
    /* display: flex;
    justify-content: center;
    padding-left: 100px; */
    width: 100%;
    height: 80px;
    border-radius: 15px;
    border: 1.5px solid #F3930D;
    color: #F3930D;
    background-color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
}
.form__kalendar{
    width: 420px;
    height: 80px;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #F3930D;
    border: 1.5px solid #F3930D;
    border-radius: 15px;
    text-align: center;
}
.qs-datepicker-container{
    width: 433px;
    height: 460px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    border: none;
    margin-top: 7.1px;
    z-index: 1;
    font-family: "MontserratMedium", "Arial", sans-serif;
}
.qs-datepicker{
    padding: 49.61px 44.44px 44.44px 44.44px;
}
.qs-month-year{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.qs-arrow{
    margin-top: 4px;
}
.qs-month{
    width: 100%;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    color: #313131;
}
.qs-year{
    font-weight: 400;
    font-size: 31px;
    line-height: 37px;
    color: #313131;
    margin-left: 25px;
}
.qs-controls{
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 31px;
}
.qs-day{
    font-weight: 400;
    font-size: 19.0462px;
    line-height: 22px;
    color: #A3A3A3;
}
.qs-squares{
    height: 292.04px;
    padding: 0;
}
.qs-square{
    height: 38px;
}
.qs-square:nth-child(7n),
.qs-square:nth-child(7n-1){
    color: #F3930D;
}
.qs-num{
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #313131;
}
.qs-active,
.qs-range-end,
.qs-range-start{
    background: none;
}
.qs-submit{
    display: none;
}
.footer2{
    margin-top: 100px;
}

/* ============================ Адаптация ============================*/
.castom{
    max-width: 430px;
    position: relative;
}
.selected--services{
    display: flex;
    flex-wrap: wrap;
}
.slider__info--prev{
    left: 5px;
    overflow-x: visible;
    position: absolute;
    border: none;
    top: 75%;
    background-color: transparent;
}
.slider__info--next{
    right: 5px;
    overflow-x: visible;
    position: absolute;
    border: none;
    top: 75%;
    background-color: transparent;
}
@media(max-width:1080px){
    .section{
        margin: 100px 20px 0 20px;
    }
    .section-form__block{
        width: 100%;
    }
    .section-form__item{
        width: 100%;
    }
}
@media(max-width:1000px){
    
    .select{
        margin: 0;
    }
    .request__form1{
        margin: auto;
        margin-top: 47px;
    }
    .request__form2,
    .castom--auto{
        margin: auto;
    }
}
@media(max-width: 960px){
    .wrapper__request{
        flex-direction: column;
        margin: auto;
    }
}
@media(max-width:880px){
    .advantages{
        grid-template-columns: repeat(2, auto);
    }
    .info{
        flex-direction: column;
    }
    .info__div{
        margin-top: 47px;
    }
}
@media(max-width:500px){
    
}
@media(max-width:470px){
    .castom__header--time,
    .castom__header--category {
        width: 100%;
    }
    .request__form2{
        margin: 0;
    }
    .select{
        width: 100%;
        margin: 0;
    }
    .data{
        font-size: 16px;
    }
    .input, .map__current,
    .castom__current,
    .castom__current--time,
    .castom__item--time,
    .button
    {
        font-size: 21px;
    }
    .request{
        width: 100%;
    }
    .request__form2--text{
        font-size: 24px;
    }
    .qs-datepicker-container{
        width: 100%;
    }
    .qs-datepicker{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 49.61px 24.44px;
    }
}
@media(max-width:385px){
    .qs-month-year{
        margin: 0;
        flex-wrap: wrap;
    }
}