/* секция 1 */
.header {
    position: fixed;
    z-index: 1;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
}

.header-menu {
    margin-top: 25px;
}

.section_header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainmenu__list {
    display: flex;
    flex-direction: row;
}

.mainmenu__item {
    padding-right: 55px;
}

.mainmenu__item__orange {
    padding-right: 0;
}

.menu__link {
    color: rgba(142, 142, 142, 1);
}

.menu__link__orange {
    color: rgba(243, 147, 13, 1);
}

.orange__row {
    /* margin-top: 30px; */
    margin-top: 61px;
    width: 100%;
    height: 2px;
    background-color: #F3930D;   
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* секция 6 */
.section__services-menu {
    display: flex;
    flex-direction: column;
}

.services-heading {
    text-align: center;
    margin-bottom: 87px;
}

.services-par {  
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: #8E8E8E;
}

.services-grid-elements {
    display: grid;
    grid-template-columns:  repeat(5, 205px);
    gap: 65px 51px;
}

.grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.grid-paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #8E8E8E;
}
/* секция 9 */
.footer {
    background: #F3930D;
    min-height: 270px;
}

.section__footer-menu {
    margin-top: 80px;
}

.footer-contacts {
    display: flex;
    margin-left: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    margin-right: 35px;
}

.footer li {
    padding-bottom: 22px;
}

.footer-links, .footer__par {
    display: flex;
    color: white;
}

.footer svg {
    margin-right: 17px;
    margin-left: 0;
}

.uppercase {
    text-transform: uppercase;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 56px;
    margin-left: 80px;
}