.section-slider__slider{
    position: relative;
    text-align: center;
    width: 1233px;
}
.section-slider__wrapper-for-slider{
    display: flex;
    overflow-x: hidden;
}
.section-slider input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 15px;
    height: 15px;
  
    transition: 0.2s all linear;
    outline: none;
    /* margin-right: 11px;
    margin-top: 21px; */
    margin: 21px 6px 0 6px;
  
    position: relative;
    background: #E7E7E7;
  }
  
.section-slider input:checked {
    background: #F3930D;
  }

.section-slider__list{
    display: flex;
    transition: transform 1s;
}
.section-slider__slider-item{
    display: flex;
    height: 415px;
    font-size: 100px;
    background-color: #F3930D;
    text-align: center;
    border-radius: 20px;
    margin: 0 5px;
    justify-content: center;


    flex-shrink: 0;
    width: 1223px;
}
.section-slider__text-in-slider{
    display: flex;
    align-items: center;

    color: #FFFFFF;

}
.section-slider__bigFont{
    font-size: 200px;
}
/*======================================================================================================*/
/*.section_clients_reviews*/
.section_clients_reviews__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section_clients_reviews__header{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #8E8E8E;
    text-align: center;
    margin-bottom: 87px;
}
.section_clients_reviews__button{
    border-radius: 43px;
    width: 390px;
    height: 81px;
}

.section_clients_reviews__slider{
    position: relative;
    text-align: center;
    width: 1233px;
}
.section_clients_reviews__wrapper-for-slider{
    display: flex;
    overflow-x: hidden;
}

  .section_clients_reviews__button {
    width: 524px;
    height: 92px;
    background-color: #F3930D;
    border: none;
    border-radius: 17px;
    opacity: 0.8;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    margin-top: 64px;
    margin-bottom: 64px;
}
  
  .section_clients_reviews input:checked {
    background: #F3930D;
  }

  .section_clients_reviews__list{
    display: flex;
    transition: transform 1s;
}
.section_clients_reviews__slider-item{
    display: flex;
    width: 385px;
    height: 460px;
    background: #FFFFFF;
    box-shadow: -20px -20px 20px rgba(0, 0, 0, 0.05), 20px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    text-align: center;
    margin: 0 5px;
    justify-content: center;
    flex-shrink: 0;
}
.section_clients_reviews__item-content{
    text-align: left;
    padding: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #8E8E8E;
}
.review-date{
    color: #F3930D;
    margin-bottom: 20px;
}
.reviewer-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 5px;
}
.client_car{
    margin-bottom: 15px;
}
.client-review{
    margin-bottom: 20px;
}
/*======================================================================================================*/
.slider-buton{
    /* width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;
    padding: 0;
    margin: 0; */
    
    position: absolute;
    border: none;
    top: 45%;
    background-color: transparent;
}
.buton-next{
    right: -9px;
    overflow-x: visible;
}

.buton-prev{
    left: -9px;
    display: none;
    overflow-x:inherit;
}
/*======================================================================================================*/
.section-form{
    max-width: 1048px;
    margin: 0 auto;
    margin-top: 100px;
}
.select-form__header{
    margin-bottom: 60px;
    width: 308.03px;
    height: 31.66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31.6572px;
    line-height: 39px;
    color: #8E8E8E;
}
.section-form__form{
    width: 1048px;
    margin: 0 auto;
    box-sizing: border-box;
}
.section-form__block{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: inherit;
    height: 79px;
    margin: 0 auto;
    margin-top: 26px;
    padding: 24px 36px;

    border: 2px solid #F3930D;
    border-radius: 15px;
    background-color: white;
    color: #F3930D;

    font-weight: 500;
    font-size: 21.1048px;
    line-height: 26px;
    text-align: left;
    cursor: pointer;
}

.section-form__menu{
    box-sizing: unset;
    width: inherit;
    margin: 0 auto;
    margin-bottom: 26px;

    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-color: white;
    color: #F3930D;

    font-weight: 500;
    font-size: 21.1048px;
    line-height: 26px;
    text-align: left;
}
.section-form__menuItems{
    width: inherit;
    padding: 24px 36px;
    max-height: 79px;
    display: grid;
    grid-template-columns: 430px 162px 150px 210px;
    justify-items: center;
    appearance: auto;
    box-sizing:border-box;  
    border-bottom: solid 2px #F3930D;
}
.section-form__menuItemName-first{
    justify-self: left;
}
.section-form__items{
    width: inherit;
    margin: 0 auto;
    margin-bottom: 26px;

    background-color: white;
    color: #F3930D;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;

    font-weight: 500;
    font-size: 21.1048px;
    line-height: 26px;
    text-align: left;
}
.section-form__item{
    width: inherit;
    padding: 24px 36px;
    max-height: 79px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    appearance: auto;
    box-sizing:border-box;
    
    cursor: pointer;
    background-color: white;
    color: #F3930D;
    
    border: none;

    font-weight: 500;
    font-size: 21.1048px;
    line-height: 26px;
    text-align: left;
    writing-mode: horizontal-tb !important;
    text-rendering:unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;

}
.section-form__item-chosen{
    width: inherit;
    padding: 24px 36px;
    max-height: 79px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    appearance: auto;
    box-sizing:border-box;
    
    background-color: lightgray;
    color: #F3930D;

    
    border: none;

    font-weight: 500;
    font-size: 21.1048px;
    line-height: 26px;
    text-align: left;
    writing-mode: horizontal-tb !important;
    text-rendering:unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;

}
.section-form__item:hover{
    background-color:#E7E7E7;
}

.section-form__itemTxt{
    max-width: 440px;
}


.section-form__chosenItem{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 36px;
    margin-top: 44px;

    border-radius: 15px;
    background-color: orange;

    color: white;
    font-size: 21.1048px;
    line-height: 26px;
    text-align: left;
    font-weight: bold;
}

.section-form__closeButton{
    width: fit-content;
    height: fit-content;
    margin-left: 50px;
    cursor: pointer;
    background-color:inherit;
    border: none;
    font-size: 24px;
    color: white;
}
.section-form__closeButton:hover{
    outline: 1px solid black;
    border-radius: 50%;
}

.section-form__time_and_price{
    width: 1024px;
    margin: 0 auto;
    margin-top: 44px;
}
.section-form__price{
    font-weight: bold;
}
.section-form__time{
    font-weight: bold;
}
.section-form__inftext{
    width: 1024px;
    margin: 0 auto;
    margin-top: 44px;
}
.section-form__orange-txt{
    color: orange;
    text-decoration: underline;
}