.section-slider__slider{
    position: relative;
    text-align: center;
    height: 500px;
}
.section-slider__wrapper-for-slider{
    display: flex;
    overflow-x: hidden;
}
.section-slider input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 15px;
    height: 15px;
  
    transition: 0.2s all linear;
    outline: none;
    /* margin-right: 11px;
    margin-top: 21px; */
    margin: 21px 6px 0 6px;
  
    position: relative;
    background: #E7E7E7;
  }
  
.section-slider input:checked {
    background: #F3930D;
  }

.section-slider__list{
    display: flex;
    transition: transform 1s;
}
.section-slider__slider-item{
    display: flex;
    height: 415px;
    font-size: 100px;
    background-color: #F3930D;
    text-align: center;
    border-radius: 20px;
    margin: 0 5px;
    justify-content: center;


    flex-shrink: 0;
    width: 1223px;
}
.section-slider__text-in-slider{
    display: flex;
    align-items: center;
    font-size: 100px;
    color: #FFFFFF;
}
.section-slider__bigFont{
    font-size: 200px;
}
.swiper {
    width: 100%;
    height: 415px;
    border-radius: 20px;
  }
  /*для неперерывной прокрутки*/
  .section_clients_reviews-swiper > .swiper-wrapper{
    transition-timing-function : linear;
  }
@media (max-width: 768px) {
    .section-slider__swiper{
        height: 320px;
    }
    .section-slider__slider{
        height: 380px;
    }
    .section-slider__text-in-slider{
        font-size: 50px;
    }
    .section-slider__bigFont{
        font-size: 100px;
    }
}
@media (max-width: 440px) {
    .section-slider__swiper {
        height: 240px;
    }
    .section-slider__slider{
        height: 300px;
    }
    .section-slider__text-in-slider{
        font-size: 25px;
    }
    .section-slider__bigFont{
        font-size: 50px;
    }
}
/*======================================================================================================*/

.section-slider__slider .swiper-pagination{
    z-index: 1;
}

.swiper-button-next, .swiper-button-prev{
    top: var(--swiper-navigation-top-offset,54%);
}
.section_clients_reviews__slider-item {
  background: #FFFFFF;
}
.section-slider__swiper-slide{
    background: #F3930D;
}

  .swiper .swiper-slide {
    text-align: center;
    /* background: #F3930D; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bullets.swiper-pagination-horizontal{
    bottom: 0;
    top: 0;
  }
  .outside{
    bottom: 50px;
  }
  .outside .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
  }
  .outside .swiper-pagination-bullet-active {
    color: #000000;
    background: #F3930D;
  }
  .swiper .swiper-button-prev{
    text-align: center;
    color: white;
    width: 28px;
    height: 28px;
    background: #8e8e8e7c;
    border-radius: 50%;
  }
  .swiper .swiper-button-prev::after{
    font-size: 13px;
    font-weight: 1000;
  }
  .swiper .swiper-button-next{
    text-align: center;
    color: white;
    width: 28px;
    height: 28px;
    background: #8e8e8e7c;
    border-radius: 50%;
  }
.swiper .swiper-button-next::after{
    font-size: 13px;
    font-weight: 1000;
  }

.info__grid-swiper{
    height: 280px;
    border-radius: 0;
}
.info__grid-swiper-container{
    display: flex;
    justify-content: center;
}
@media (max-width: 1260px) {
    .info__grid-swiper{
        width: 890px;
    }
}
@media (max-width: 990px) {
    .info__grid-swiper{
        width: 590px;
    }
}
@media (max-width: 670px) {
    .info__grid-swiper{
        width: 300px;
    }
}
/*======================================================================================================*/
/*.section_clients_reviews*/
.section_clients_reviews__slider-item{
    display: flex;
    width: 340px;
    height: 407px;
    background: #FFFFFF;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.05), 5px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
}
.section_clients_reviews__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.section_clients_reviews__header{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #8E8E8E;
    text-align: center;
    margin-bottom: 87px;
}

.section_clients_reviews__button {
    border-radius: 12px;
    width: 346px;
    height: 71px;
    background-color: #F3930E;
    opacity: 0.8;
    border: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;

    margin-top: 52px;
    margin-bottom: 138px;
}
.section_clients_reviews__button:hover{
    opacity: 1;
}
  
.section_clients_reviews input:checked {
    background: #F3930D;
}

.section_clients_reviews__slider{
    position: relative;
    text-align: center;
    width: 1060px;
}
@media (max-width: 1100px) {
    .section_clients_reviews__slider{
        width: 702px;
    }
}
@media (max-width: 770px) {
    .section_clients_reviews__slider{
        width: 344px;
    }
}
@media (max-width: 670px) {
    .section_clients_reviews__slider{
        width: 344px;
    }
}
.section_clients_reviews__wrapper-for-slider{
    display: flex;
    overflow-x: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
}

.section_clients_reviews__list{
    display: flex;
    transition: transform 1s;
}

.section_clients_reviews__item-content{
    text-align: left;
    padding: 30px;
    line-height: 22px;

    color: #8E8E8E;
}
.review-date{
    color: #F3930D;
    margin-bottom: 20px;
}
.reviewer-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 5px;
}
.client_car{
    margin-bottom: 15px;
}
.client-review{
    margin-bottom: 20px;
}
/*======================================================================================================*/
.slider-buton{
    /* width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;
    padding: 0;
    margin: 0; */
    
    position: absolute;
    border: none;
    top: 45%;
    background-color: transparent;
}
.buton-next{
    right: -9px;
    overflow-x: visible;
}

.buton-prev{
    left: -9px;
    display: none;
    overflow-x:inherit;
}
/*======================================================================================================*/
.section-form{
    max-width: 1048px;
    margin: 0 auto;
    margin-top: 100px;
}

.choose-service-form{
    display: none;
}

.section-form-hidden{
    display: none;
}
.select-form__header{
    margin-bottom: 60px;
    width: 308px;
    height: 31px;
    font-weight: 700;
    font-size: 31px;
    line-height: 39px;
    color: #8E8E8E;
}
.section-form__form{
    max-width: 1048px;
    margin: 0 auto;
    box-sizing: border-box;
}
.section-form__block{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 79px;
    margin: 0 auto;
    margin-top: 26px;
    padding: 24px 36px;

    border: 2px solid #F3930D;
    border-radius: 15px;
    background-color: white;
    color: #F3930D;

    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    cursor: pointer;
}

.section-form__menu{
    box-sizing: unset;
    width: inherit;
    margin: 0 auto;
    margin-bottom: 26px;

    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-color: white;
    color: #F3930D;

    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
}
.section-form__menuItems{
    width: inherit;
    padding: 24px 36px;
    max-height: 79px;
    display: flex;
    justify-content: space-around;
    appearance: auto;
    box-sizing:border-box;  
    border-bottom: solid 2px #F3930D;
}
.section-form__menuItemName-first{
    justify-self: left;
}
.section-form__items{
    width: inherit;
    margin: 0 auto;
    margin-bottom: 26px;

    background-color: white;
    color: #F3930D;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;

    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
}
.section-form__item{
    width: 100%;
    padding: 10px 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    appearance: auto;
    box-sizing:border-box;
    
    cursor: pointer;
    background-color: white;
    color: #F3930D;
    
    border: none;

    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    writing-mode: horizontal-tb !important;
    text-rendering:unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;

}
.section-form__item-chosen{
    width: 100%;
    padding: 10px 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    appearance: auto;
    box-sizing:border-box;
    
    background-color: lightgray;
    color: #F3930D;

    
    border: none;

    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    writing-mode: horizontal-tb !important;
    text-rendering:unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;

}
.section-form__item:hover{
    background-color:#E7E7E7;
}

.section-form__itemTxt:first-child{
    width: 196px;
}


.section-form__chosenItem{
    display: flex;
    align-items: center;
    width: fit-content;
    min-height: 65px;
    padding: 0px 36px;
    margin: 18px 15px 0 0;

    border-radius: 10px;
    background-color: orange;

    color: white;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
}

.section-form__closeButton{
    width: fit-content;
    height: fit-content;
    margin-left: 50px;
    cursor: pointer;
    background-color:inherit;
    border: none;
    font-size: 24px;
    color: white;
    translate: transform 0.3s;
}
.section-form__closeButton:hover{
    transform: scale(0.9);
}

.section-form__time_and_price{
    width: 100%;
    margin: 0 auto;
    margin-top: 44px;
}
.section-form__price{
    font-weight: bold;
}
.section-form__time{
    font-weight: bold;
}
.section-form__inftext{
    width: 100%;
    margin: 0 auto;
    margin-top: 44px;
}
.section-form__orange-txt{
    color: orange;
    text-decoration: underline;
}
/*======================================================================================================*/

.form-finish{
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding: 82px 112px 71px 112px;
}
.form-h{
    display: none;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 13px 0px 7px 0px;
    user-select: none;
}
.form-ul{
    display: none;
}
.form-li{
    display: none;
    color: red;
    margin-bottom: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    user-select: none;
}
.form-p{
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 13px 0px 7px 0px;
    user-select: none;
}
/*======================================================================================*/
@media(max-width:640px){
    .section-form__item{
        font-size: 16px;
        padding: 10px 26px;
    }
    .section-form__item-chosen{
        font-size: 16px;
        padding: 10px 26px;
    }
    .section-form__menu{
        font-size: 16px;
    }
    .section-form__menuItems{
        padding: 10px 26px;
    }
    .section-form__block{
        padding: 10px 26px;
        height: 48px;
    }
}

@media(max-width:450px){
    .section-form__item{
        font-size: 13px;
        padding: 5px 13px;
    }
    .section-form__item-chosen{
        font-size: 13px;
        padding: 5px 13px;
    }
    .section-form__menu{
        font-size: 13px;
    }
    .section-form__menuItems{
        padding: 5px 13px;
    }
    .section-form__block{
        font-size: 16px;
        padding: 5px 13px;
        height: 32px;
    }
    .section-form__itemTxt:first-child{
        width: 120px;
    }
}